@using TarimCan.Models

@model List<Asi>

@{
    ViewBag.Title = "Aşı Yönetimi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/DashboardTheme/LightBox/css/lightbox.css" rel="stylesheet" />

<div class="col-md-12">

    <div class="portlet light bordered" style="min-height:620px">
        <div class="row">
            <div class="col-md-12" style="min-height:600px">
                <div class="portlet light" style="padding:0 !important; font-size:13px !important; margin:0px !important">
                    <div class="portlet-title col-md-10" style="margin-bottom:0px !important">
                        <div class="caption">
                            <i class="icon-equalizer font-red-sunglo"></i>
                            <span class="caption-subject font-red-sunglo bold uppercase" style="font-size:15px">AŞI YÖNETİMİ</span>
                            @*  <a href="https://www.youtube.com/watch?v=Zm51mv885aI&t=83s" target="_blank"> <img src="~/DashboardTheme/assets/global/ana-icons/youtube-full-logo.png" style="height:20px" title="Yardım Videosu"></a>*@
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" style="display: block; margin-left: auto; " class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            <i class="fa-sharp fa-solid fa-plus"></i>
                            Ekle
                        </button>
                    </div>
                </div>

                <div class="portlet-body">
                    @{

                        if (Model != null && Model.Count > 0)
                        {
                            <table class="table table-hover table-light">
                                <thead>
                                    <tr>
                                        <th>Aşı Adı</th>
                                        <th>Ticari Adı</th>
                                        <th>Aşının Uygulama Tekrarı</th>
                                        <th>Rapel</th>
                                        <th>Cinsiyet</th>
                                        <th>Son Uygulandığı Tarih</th>
                                        <th>Uygulanacağı Tarih</th>
                                        <th>Aktif</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.AsiAdi</td>
                                                <td>
                                                    @item.TicariAdi
                                                </td>
                                                <td>
                                                    @item.AsininUygulamaTekrari
                                                </td>
                                                <td>
                                                    @{if (item.Rapel)
                                                        {
                                                            <p>Evet</p>
                                                        }
                                                        else
                                                        {
                                                            <p>Hayır</p>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        if (item.Cinsiyet == 1)
                                                        {
                                                            <p>Erkek</p>
                                                        }
                                                        else
                                                        {
                                                            <p>Dişi</p>
                                                        }
                                                    }
                                                </td>
                                                <td>
                                                    @item.SonUygulanacagiTarih.ToString("dd.MM.yyyy")
                                                </td> 
                                                
                                                <td>
                                                    @item.SonUygulanacagiTarih.AddMonths(item.AsininUygulamaTekrari).ToString("dd.MM.yyyy")

                                                </td>

                                                <td>

                                                    
                                                        <div class="form-check">
                                                            <select class="form-control" onchange="selectActivate(@item.Id)" id="selectactivate">
                                                                @{
                                                                    if (item.Aktif)
                                                                    {
                                                                        <option value="0">Hayır</option>
                                                                        <option selected value="1">Evet</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option selected value="0">Hayır</option>
                                                                        <option value="1">Evet</option>
                                                                    }
                                                                }

                                                            </select>
                                                        </div>
                                                    

                                                </td>
                                                <td>
                                                    <button type="button" id="animal_add_btn" class="btn btn-info" onclick="InsertAsiId(@item.Id)" data-toggle="modal" data-target="#animalModal"><i class="fa-solid fa-cow fa-lg"></i></button>
                                                </td>
                                                <td>
                                                    <button type="button" id="delete_btn" onclick="deleteBtn(@item.Id)" class="btn btn-danger"><i class="fa-regular fa-trash fa-lg"></i></button>
                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        }
                        else
                        {
                            <span>Listelenecek aşı kaydı bulunmamaktadır...</span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Aşı Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body" style=" ">
                    <div class="form-group">
                        <label>Aşı Adı</label>
                        <select class="form-control" id="AsiSelectBox">
                            <option value="">Seçiniz...</option>
                            <option value = "Enterotoksemi(KARMA, MERA">Enterotoksemi(KARMA, MERA)</option>
                            <option value = "Şap">Şap</option>
                            <option value = "IBR–BVD–PI–BRS">IBR–BVD–PI–BRS</option>
                            <option value = "Pastörella">Pastörella</option>
                            <option value = "">Botulismus</option>
                            <option value = "Botulismus">Çiçek(LSD)</option>
                            <option value = "Brucella">Brucella</option>
                            <option value = "Leptospiroz">Leptospiroz</option>
                            <option value = "Yanıkara">Yanıkara</option>
                            <option value = "Şarbon">Şarbon</option>
                            <option value = "Septisemi">Septisemi</option>
                            <option value = "Kuduz">Kuduz</option>
                            <option value = "Theileria">Theileria</option>
                            <option value = "Trikofiti(Mantar)">Trikofiti(Mantar)</option>
                            <option value = "Diğer">Diğer</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Ticari Adı</label>
                        <input id="TicariAdi" class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Asinin Uygulama Tekrari</label>
                        <select class="form-control" id="AsininUygulamaTekrari">
                            <option value="">Seçiniz...</option>
                            @{
                                for (int i = 1; i < 13; i++)
                                {
                                    <option value="@i">@i.ToString() ay</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label >Cinsiyet</label>
                        <select class="form-control" id="Cinsiyet">
                            <option value="">Seçiniz...</option>
                            <option value="0">Dişi</option>
                            <option value="1">Erkek</option>
                            <option value="3">Hepsi</option>

                        </select>
                    </div>
                    <div class="form-group">
                        <label>Son Uygulandığı Veya Uygulanacağı Tarih</label>
                        <input id="SonUygulanacagiTarih" class="form-control" type="date" placeholder="Default input">
                    </div>
                    <div class="form-check">
                        <label>Rapel</label>
                        <select class="form-control" id="Rapel">
                            <option value="0">Hayır</option>
                            <option value="1">Evet</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <button type="button" id="save_btn" class="btn btn-primary">Kaydet</button>
                </div>
        </div>
    </div>
</div>

<div class="modal fade" id="animalModal" tabindex="-1" role="dialog" aria-labelledby="animalModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="animalModalLabel">Aşılanan hayvanları seçiniz</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @{
                    List<HayvanModel> hayvanlar = ViewBag.AnimalList;
                    if (hayvanlar != null && hayvanlar.Count > 0)
                    {
                        <table id="animallist" class="table table-hover table-light">
                            <thead>

                                <tr>
                                    <th hidden></th>
                                    <th>No</th>
                                    <th>Hayvan Adı</th>
                                    <th>Küpe No</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                
                                    foreach (var item in hayvanlar)
                                    {
                                        <tr>
                                            <td><input name="locationthemes" type="checkbox" id="@item.Id"></td>
                                            <td hidden >@item.Id</td>
                                            <td>@item.Adi</td>
                                            <td>
                                                @item.KupeNo
                                            </td>

                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>Listelenecek hayvan kaydı bulunmamaktadır...</span>
                    }
                }
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                <button type="button" onclick="AddAnimal()" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/DashboardTheme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>

<script>

    var asiId = 0;
    function InsertAsiId(id) {
        asiId = id;
    }

    $('#AsiYonetimi').addClass("active");

    $("#save_btn").click(function () {

        var isvalid = true;

        var asiAdi = $('#AsiSelectBox').val();
        if (asiAdi == '') {
            $('#AsiSelectBox').css('border-color', 'red');
            isvalid = false;
        } else {
            $('#AsiSelectBox').css('border-color', '#e5e5e5');
        }

        var ticariAdi = $('#TicariAdi').val();
        if (ticariAdi == '') {
            $('#TicariAdi').css('border-color', 'red');
            isvalid = false;
        } else {
            $('#TicariAdi').css('border-color', '#e5e5e5');
        }

        var tekrar = $('#AsininUygulamaTekrari').val();
        if (tekrar == '') {
            $('#AsininUygulamaTekrari').css('border-color', 'red');
            isvalid = false;
        } else {
            $('#AsininUygulamaTekrari').css('border-color', '#e5e5e5');
        }

        var cinsiyet = $('#Cinsiyet').val();
        if (cinsiyet == '') {
            $('#Cinsiyet').css('border-color', 'red');
            isvalid = false;
        }else{
            $('#Cinsiyet').css('border-color', '#e5e5e5');
        }

        var rabel = $('#Rapel').val();
        if (rabel == '') {
            $('#Rapel').css('border-color', 'red');
            isvalid = false;
        } else {
            $('#Rapel').css('border-color', '#e5e5e5');
        }

        var sonUygulanacagiTarih = $('#SonUygulanacagiTarih').val();
        if (sonUygulanacagiTarih == '') {
            $('#SonUygulanacagiTarih').css('border-color', 'red');
            isvalid = false;
        } else {
            $('#SonUygulanacagiTarih').css('border-color', '#e5e5e5');
        }

        if (isvalid == true) {
            var data = {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                'asiAdi': asiAdi,
                'ticariAdi': ticariAdi,
                'tekrar': tekrar,
                'rabel': rabel,
                'cinsiyet': cinsiyet,
                'sonUygulandıgiTarih': sonUygulanacagiTarih,
            }

             $.ajax({
            type: "POST",
            url: '@Url.Action("Insert", "Asi")',
            data: data,
            success: function (response) {
                if (response) {
                    window.location = '/Asi/Index';
                } else {
                    alert("Hata Oluştu")
                }
            }
        });
        }
    });

    function selectActivate(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("update", "Asi")',
            data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                'id': id,
                "active": document.getElementById("selectactivate").value
            },
            success: function (response) {
                if (response) {
                    toastr.success("İşlem Başarılı");
                } else {
                    toastr.error("Hata Oluştu");
                }
            }
        });
    }

    function deleteBtn(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete", "Asi")',
            data: {
                __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                'id': id,
            },
            success: function (response) {
                if (response) {
                    window.location = '/Asi/Index';
                } else {
                    toastr.error("Silme İşleminde hata oluştu");
                }
            }
        });
    }

    function AddAnimal() {

        var hayvanList = [];
        $('input[name="locationthemes"]:checked').each(function (i) {
            hayvanList.push(this.id);
        });

        if (hayvanList.length > 0 || asiId != 0) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("HayvanAsiInsert", "Asi")',
                data: {
                    __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
                    'hayvanIdList': hayvanList,
                    'asiId': asiId,
                },
                success: function (response) {
                    if (response) {
                        toastr.success("İşlem başarılı");
                    } else {
                        toastr.error("Silme İşleminde hata oluştu");
                    }
                }
            });
        } else {
            toastr.error("Hayvan seçiniz...");

        }
    }
</script>
