@using TarimCan.Models

@{
    ViewBag.Title = "Hayvanlarım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/DashboardTheme/LightBox/css/lightbox.css" rel="stylesheet" />

<div class="col-md-12" style="min-height:600px">

    <div class="portlet light bordered" style="min-height:620px">
        <div class="portlet light" style="padding:0 !important; font-size:13px !important; margin:0px !important">
            <div class="portlet-title" style="margin-bottom:0px !important">
                <div class="caption">
                    <i class="icon-equalizer font-red-sunglo"></i>
                    <span class="caption-subject font-red-sunglo bold uppercase" style="font-size:15px">TAZE HAYVAN LİSTESİ</span>
                    <a href="https://www.youtube.com/watch?v=Zm51mv885aI&t=83s" target="_blank"> <img src="~/DashboardTheme/assets/global/ana-icons/youtube-full-logo.png" style="height:20px" title="Yardım Videosu"></a>
                </div>

                <div class="actions">
                    <a href="/Hayvanlar/HayvanEkle?DurumId=0&HayvanId=0" class="btn btn-circle btn-default">
                        <i class="fa fa-plus"></i>
                        <span class="hidden-480">
                            Hayvan Ekle
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="portlet-body">

            <div class="alert alert-danger">
                <strong>Bilmeniz Gerekenler: </strong> SAĞLIKLI BİR AKINTIDA 20 GÜNLÜK Sağlıklı bir hayvanda loğsa akıntısında ilk 20 günde görüntünün bir önemi yok koku yoksa her şey yolundadır. ilk 20 günde koku varsa işler yolunda gitmiyordur. 20 günden sonra sağlıklı berrak bir çara akıntısının olması gerekiyor. 21. gün ve 21 günden sonra görüntü berrak temiz değilse hepsi rahim iltihabıdır.
            </div>

            @{
                if (ViewBag.Hayvanlar != null)
                {

                    List<HayvanModel> hayvanlar = ViewBag.Hayvanlar;

                    if (hayvanlar.Count > 0)
                    {

                        <table class="table table-hover table-light">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Detay</th>
                                    <th style="text-align:center">No</th>
                                    <th style="text-align:center">Küpe No</th>
                                    <th style="text-align:center">Adı / Takip Numarası</th>
                                    <th style="text-align:center">Yaşı</th>
                                    <th style="text-align:center">Sürü Grubu</th>
                                    <th style="text-align:center">Son Doğum Yaptığı Tarih</th>
                                    <th style="text-align:center">Tazeden Çıkacağı Tarih</th>
                                </tr>
                                <tr role="row" class="filter">
                                    <td rowspan="1" colspan="1" style="text-align:center; cursor:pointer">
                                        <button class="btn btn-sm yellow filter-submit margin-bottom" onclick="HayvanFiltrele()"><i class="fa fa-search"></i>&nbsp; Ara</button>
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        &nbsp;
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control form-filter input-sm" id="flKupeNo" placeholder="küpe no">
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control form-filter input-sm" id="flAdi" placeholder="adı">
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        <input type="text" class="form-control form-filter input-sm" disabled>
                                    </td>
                                    <td rowspan="1" colspan="1">
                                        @Html.DropDownList("SuruGruplari", new SelectList(ViewBag.SuruGruplari, "Value", "Text"), "Seçiniz", new { @class = "form-control" })
                                    </td>
                                    <td rowspan="1" colspan="1" style="text-align:center">
                                        <input type="text" class="form-control form-filter input-sm" placeholder="son dogum yaptığı tarih" disabled />
                                    </td>
                                    <td rowspan="1" colspan="1" style="text-align:center">
                                        <input type="text" class="form-control form-filter input-sm" placeholder="tazeden çıkacağı tarih" disabled />
                                    </td>

                                </tr>
                            </thead>
                            <tbody id="tblHayvanResult">
                                @{
                                    int sayacSos = 1;

                                    foreach (var item in hayvanlar)
                                    {
                                        <tr>
                                            <td style="text-align:center; cursor:pointer">
                                                <a class="label label-sm label-info" href="/Hayvanlar/HayvanDetay/@item.Id"> Detay </a>
                                            </td>
                                            <td style="text-align:center">@Convert.ToInt32(sayacSos++).ToString()</td>
                                            <td>
                                                @item.KupeNo
                                            </td>
                                            <td>
                                                @item.Adi
                                            </td>
                                            <td style="text-align:center">
                                                @{
                                                    TimeSpan ts = DateTime.Now - item.DogumTarihi;

                                                    int gunSayisi = ts.Days;
                                                    decimal dcYilSayisi = gunSayisi / 365;
                                                    int intYilSayisi = Convert.ToInt32(Math.Floor(dcYilSayisi));

                                                    int yilGunu = intYilSayisi * 365;
                                                    int kalan = gunSayisi - yilGunu;

                                                    decimal dcAySayisi = kalan / 30;
                                                    int intAySayisi = Convert.ToInt32(Math.Floor(dcAySayisi));

                                                    string YilStr = Convert.ToInt32(Math.Floor(dcYilSayisi)).ToString() + " Yaş ";
                                                    string AyStr = Convert.ToInt32(Math.Floor(dcAySayisi)).ToString() + " Ay";

                                                    <span>
                                                        @if (intYilSayisi != 0)
                                                        {
                                                            @YilStr
                                                        }

                                                        @if (intAySayisi != 0)
                                                        {
                                                            @AyStr
                                                        }
                                                    </span>
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @item.SuruGrubu
                                            </td>
                                            <td style="text-align:center">
                                                @if (item.SonDogumYaptigiTarih.ToString("dd.MM.yyyy") != "01.01.0001")
                                                {
                                                    @item.SonDogumYaptigiTarih.ToString("dd.MM.yyyy")
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @if (item.SonDogumYaptigiTarih.ToString("dd.MM.yyyy") != "01.01.0001")
                                                {
                                                    @item.SonDogumYaptigiTarih.AddDays(45).ToString("dd.MM.yyyy")
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <span>Listelenecek hayvan bulunamadı...</span>
                    }
                }
                else
                {
                    <span>Listelenecek hayvan bulunamadı...</span>
                }
            }
        </div>
    </div>
    @Html.AntiForgeryToken()
</div>

<script src="@Url.Content("~/DashboardTheme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>

<script src="~/DashboardTheme/LightBox/js/lightbox.js"></script>

<script>

    function GoToHayvanGuncelle() {
        location.href = "/Hayvanlar/HayvanEkle?DurumId=0&HayvanId=" + document.getElementById("hdnHayvanId").value;
    }

    function validate(evt) {
        var theEvent = evt || window.event;

        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
            // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if (!regex.test(key)) {
            theEvent.returnValue = false;
            if (theEvent.preventDefault) theEvent.preventDefault();
        }
    }

    function HayvanFiltrele() {
        var strKupeNo = $("#flKupeNo").val();
        var strAdi = $("#flAdi").val();
        var strAciklama = $("#flAciklama").val();

        var data = {
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val(),
            'KupeNo': strKupeNo,
            'Adi': strAdi,
            'Aciklama': strAciklama,
            'SuruGrubuId': document.getElementById("SuruGruplari").value,
            'CinsiyetId': document.getElementById("flCinsiyet").value
        };

        $.ajax({
            type: "POST",
            url: '@Url.Action("HayvanAraAction", "Hayvanlar")',
            data: data,
            success: function (response) {
                document.getElementById("tblHayvanResult").innerHTML = "";
                var sayac = 0;
                for (var k in response) {
                    sayac = sayac + 1;
                    $('#tblHayvanResult').append('<tr><td><span class="label label-sm label-info" onclick="HayvanDetayGetir(' + response[k].Id + ')"> Detay </span> </td><td>' + sayac + '</td> <td>' + response[k].KupeNo + '</td> <td>' + response[k].Adi + '</td> <td>' + response[k].SuruGrubu + '</td> <td>' + response[k].Cinsiyet + '</td> ');
                    //$('#tblHayvanResult').append('<tr><td>' + sayac + '</td> <td>' + response[k].KupeNo + '</td> <td>' + response[k].Adi + '</td> <td>' + response[k].SuruyeGirisTarihiFormatted + '</td> <td>' + response[k].SuruGrubu + '</td> <td>' + response[k].Cinsiyet + '</td>  <td>' + response[k].DogumTarihiFormatted + '</td> <td><span class="label label-sm label-info" onclick="HayvanDetayGetir(' + response[k].Id + ')"> Detay </span> </td>');
                }
            }
        });
    }

</script>

<script>
    $('#HayvanYonetimi').addClass("active");
</script>
